﻿@model ManageHoteWeb.ViewModels.DetailTypeRoomReport

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Báo cáo doanh thu theo loại phòng</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ListTypeRoomReport.Month)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ListTypeRoomReport.Month)
        </dd>
    </dl>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Loại phòng
            </th>
            <th>
                Doanh thu
            </th>
            <th>
                Tỷ lệ
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TypeRoomReports)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TypeRoom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Revenue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rate)
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Index">Back to List</a>
</div>
