﻿@model IEnumerable<ManageHoteWeb.Models.Room>

@{
    ViewData["Title"] = "Index";
}

<h2>Danh sách phòng</h2>

<form asp-controller="ListRooms" asp-action="Index">
    <p>
        Phòng: <input type="text" name="room">
        <input type="submit" value="Tìm kiếm" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomType.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomType.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxPerson)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomType.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxPerson)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
        </tr>
}
    </tbody>
</table>
