﻿@model ManageHoteWeb.ViewModels.DetailsRentalFormViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Phiếu thuê phòng</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => Model.RentalForm.Room)
        </dt>
        <dd>
            @Html.DisplayFor(model => Model.RentalForm.Room.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => Model.RentalForm.DayRent)
        </dt>
        <dd>
            @Html.DisplayFor(model => Model.RentalForm.DayRent)
        </dd>
    </dl>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Tên khách hàng
            </th>
            <th>
                Chứng minh nhân dân
            </th>
            <th>
                Địa chỉ
            </th>
            <th>
                Loại khách
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Customers)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdCard)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerType.Name)
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Edit" asp-route-id="@Model.RentalForm.id">Edit</a> |
    <a asp-action="Index" asp-controller="Customers" asp-route-id="@Model.RentalForm.id">Edit Customer</a> |
    <a asp-action="Delete" asp-route-id="@Model.RentalForm.id">Delete</a> 

</div>

<a asp-action="Index">Back to List</a>
