﻿@model ManageHoteWeb.ViewModels.RoomViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Danh mục phòng</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Room.Name" class="control-label"></label>
                <input asp-for="Room.Name" class="form-control" />
                <span asp-validation-for="Room.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="alert-danger" asp-validation-summary="ModelOnly"></div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                        <label asp-for="Room.RoomType" class="control-label"></label>
                        <select asp-for="Room.RoomTypeId"
                                class="form-control"
                                asp-items="@(new SelectList(Model.RoomTypes, "Id", "Name"))">
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Room.Status" class="control-label"></label>
                <input asp-for="Room.Status" class="form-control" />
                <span asp-validation-for="Room.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Room.MaxPerson" class="control-label"></label>
                <input asp-for="Room.MaxPerson" class="form-control" />
                <span asp-validation-for="Room.MaxPerson" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Room.Note" class="control-label"></label>
                <input asp-for="Room.Note" class="form-control" />
                <span asp-validation-for="Room.Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
