﻿@model ManageHoteWeb.Models.Bill

@{
    ViewData["Title"] = "Create";
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#btnAdd").click(function () {
            AddRoom();
        });

        $("#btnSave").click(function () {
            SaveBill();
        });
    });

    function AddRoom() {
        var room = "<tr><td>" + $("#txtRoom").val() + "</td></tr>"
        $("#ListRoom").last().append(room);
        $("#txtRoom").val("");
    }

    function SaveBill() {
        var listRooms = new Array();
        $("#ListRoom").find("tr:gt(0)").each(function () {
            var room = $(this).find("td:eq(0)").text();

            //var roomtype = {};
            //roomtype.name = room;
            //roomtype.price = 1
            //roomtype.id = 1
            listRooms.push(room);
            
        });

        var name = $("#NameCustomer").val();
        var address = $("#Address").val();

        $("#NameCustomer").val("");
        $("#Address").val("");

        var postData = { customerName: name, address : address, values: listRooms };

        //$.ajax({
        //    async: true,
        //    type: 'POST',
        //    dataType: 'JSON',
        //    c//ontentType: 'application/json; charset=utf=8',
        //    url: '/bills/Create',
        //    data: JSON.stringify(listRooms),
        //    success: function (data) {
        //        alert(data);
        //    }, 
        //    error: function () {
        //        alert("There are some error");
        //    }

        //})

        $.ajax({
            type: "POST",
            url: '/bills/Create',
            data: postData,
            success: function (data) {
                alert("Thêm thành công");
            },
            error: function () {    
            },
            traditional: true
        });
    }
</script>

<h2>Create</h2>

<h4>Bill</h4>
<hr />
<div class="row">
    <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NameCustomer" class="control-label"></label>
                <input asp-for="NameCustomer" class="form-control" />
                <span asp-validation-for="NameCustomer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="button" value="Create" id="btnSave" class="btn btn-default" />
            </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Phòng
            </th>
            <th>
                <input type="text" value="" id="txtRoom" />
            </th>
            <th>
                <button type="button" id="btnAdd" value="Add"  class="btn btn-default">Thêm phòng</button>
            </th>
        </tr>
    </thead>
</table>

<table id="ListRoom">
    <thread>
        <tr>
            <th>
                Phòng
            </th>
        </tr>
    </thread>
</table>
<hr />
<div>
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
