﻿@model ManageHoteWeb.ViewModels.DetailBillViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Bill</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Bill.NameCustomer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bill.NameCustomer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bill.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bill.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bill.SumPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bill.SumPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bill.DayPayment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bill.DayPayment)
        </dd>
    </dl>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Phòng
            </th>
            <th>
                Số ngày thuê
            </th>
            <th>
                Đơn giá
            </th>
            <th>
                Thành tiền
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.rentalRoomInBillView)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Room)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfDayRent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SumPrice)
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Bill.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
