﻿@model IEnumerable<ManageHoteWeb.Models.Surcharge>

@{
    ViewData["Title"] = "Quản lý";
}

<h2>Quản lý quy định</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumberPeopleForSurcharge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Coefficent)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberPeopleForSurcharge)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Coefficent)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<button class="btn btn-default">
    <a asp-area="" asp-controller="RoomTypes" asp-action="Index">Quản lý loại phòng</a>
</button>
<button class="btn btn-default">
    <a asp-area="" asp-controller="CustomerTypes" asp-action="Index">Quản lý loại khách</a>
</button>


