﻿@model ManageHoteWeb.ViewModels.DetailRoomReport
@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Báo cáo mật độ sử dụng phòng</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ListRoomReport.Month)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ListRoomReport.Month)
        </dd>
    </dl>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Phòng
            </th>
            <th>
                Số ngày thuê
            </th>
            <th>
                Tỷ lệ
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.RoomReports)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Room)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfDayRental)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rate)
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Index">Back to List</a>
</div>
